body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.header-container {
  width: 1300px;
}

.container {
  width: 1000px;
  height: 500px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(images/Global-Basic-Income2.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 50px;
  letter-spacing: 5px;
}

.top-wrapper p {
  font-weight: bold;
  width: 525px;
  font-size: 25px;
  margin: 70px 250px 70px 250px;
  word-wrap: break-word;
  text-align: center;
}

.top-wrapper h2{
  font-size: 30px;
  letter-spacing: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left a{
  font-size: 30px;
  color: white;
  display: block;
  margin: 0 0 30px 100px;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.right-intro:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.right-action:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.right-teacher:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right a {
  float: left;
  line-height: 65px;
  padding: 0 25px;
  margin: 0 25px;
  font-size: 25px;
  color: white;
  display: block;
}

.lesson-wrapper {
  height: 3700px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h3 {
  font-weight: normal;
  font-size: 35px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.th {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top:50px;
}

.detail {
  padding-left: 30px;
  margin-left: 30px;
}

.heading p {
  font-size: 20px;
  padding-bottom: 20px;
}

.contents {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: left;
}

.contents h4 {
  font-weight: normal;
  font-size: 25px;
}

.contents li {
  font-size: 20px;
  list-style: disc;
  padding-top: 20px;
}

.contents p {
  font-size: 20px;
  padding-left: 30px;
  margin-left: 20px;
}

.actions {
}

.actions h3 {
  text-align: center;
  color: #5f5d60;
  font-size: 30px;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 30px;
}

.actions h4 {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 30px;
}

.action {
  float: left;
  padding-right: 20px;
}

.action-png {
 float: left;
}

.action-png img{
 width: 300px;
 height: 200px;
}

footer {
  padding-top: 30px;
  background-color: rgba(34, 49, 52);
  color: white;
}

.Fcontainer {
  width: 1100px;
  height: 200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer-left {
  float: left;
  font-size: 30px;
}

.footer-left a{
  color: white;
}

.footer-right {
  float: right;
}

.footer-right a{
  font-size: 25px;
  float: left;
  padding-top: 65px;
  padding-bottom: 20px;
  padding-right: 50px;
  color: white;
}

li {
  list-style: none;
}
